<div>
  <Header class="title">
    <h1> Degrees of Soccer </h1>
  </Header>

  <div class="content" role="main">
    <div class="inputs">
        <div class="l-box">
          <app-autocomplete [stateList]="states"></app-autocomplete>
        </div>
        <span>&#8644;</span>
        <div class="r-box" >
          <app-autocomplete [stateList]="states"></app-autocomplete>
        </div>
    </div>

    <div class="goButton">
      <button (click)="showOutput()"> Go </button>
    </div>
    <div [hidden]="!isVisible" class="output">
      <p> path from {{player1}} to {{player2}} is {{player1.length + player2.length}}</p>
    </div>
  </div>
</div>